@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'accueil";
}

<h3>Bonjour @Model.UserName</h3>
<p><i>Votre dernière visite date du @Model.PreviousConnection</i></p>
<div asp-validation-summary="All" class="text-danger"></div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#cginprogress">Vos demandes en cours</a></li>
    <li><a data-toggle="tab" href="#cgok">Vos demandes validées</a></li>
    <li><a data-toggle="tab" href="#cgko">Vos demandes refusées</a></li>
</ul>

<div class="tab-content">
    <div id="cginprogress" class="tab-pane fade in active">
        @if (Model.CongesInProgress.Count() <= 0)
        {
            <br />
            <p>Aucune demande de congé en cours de validation</p>
            <a asp-page="./Conges/Create">Poser des congès</a>
        }
        else
        {
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateBeginTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateEndTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnElapsedTitle()</th>
                            <th>Etat de la demande</th>
                            <th>Mise à jour le</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var conge in Model.CongesInProgress)
                        {
                            <tr>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeContent(conge)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.BeginDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.EndDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnElapsedContent(conge)</td>
                                <td>En cours de validation par votre responsable</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.ModifyDate)</td>
                                <td>
                                    <button class="btn btn-default" type="submit" asp-page-handler="Delete" asp-route-id="@conge.Id"><i class="fa fa-trash-o fa-lg"></i> Supprimer</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <a asp-page="./Conges/Create">Poser des congés</a>
            </form>
        }
    </div>

    <div id="cgok" class="tab-pane fade">
        @if (Model.CongesValidated.Count() <= 0)
        {
            <br />
            <p>Aucune demande de congé enregistrée</p>
        }
        else
        {
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateBeginTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateEndTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnElapsedTitle()</th>
                            <th>Date d'acceptation</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var conge in Model.CongesValidated)
                        {
                            <tr>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeContent(conge)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.BeginDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.EndDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnElapsedContent(conge)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.ModifyDate)</td>
                                <td>
                                    @if ((conge.BeginDate > DateTime.Now) && !conge.IsExported)
                                    {
                                        @if (conge.CanDeleted == false)
                                        {
                                            <button class="btn btn-default" type="submit" asp-page-handler="Cancel" asp-route-id="@conge.Id"><i class="fa fa-trash-o fa-lg"></i> Demander l'annulation</button>
                                        }
                                        else
                                        {
                                            <p>Demande d'annulation en cours</p>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </div>

    <div id="cgko" class="tab-pane fade">
        @if (Model.CongesRefused.Count() <= 0)
        {
            <br />
            <p>Aucune demande de congé refusée</p>
        }
        else
        {
            <form method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateBeginTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnDateEndTitle()</th>
                            <th>@WebApplicationConges.Toolkit.LayoutColumnElapsedTitle()</th>
                            <th>Date du refus</th>
                            <th>Motif du refus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var conge in Model.CongesRefused)
                        {
                            <tr>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnCongeTypeContent(conge)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.BeginDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.EndDate)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnElapsedContent(conge)</td>
                                <td>@WebApplicationConges.Toolkit.LayoutColumnDateFormat(conge.ModifyDate)</td>
                                <td>@conge.Motif</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}